
.cart-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-image: linear-gradient(to top, #e2e8f0, #eaedf4, #f2f3f7, #f9f9fb, #ffffff); 
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cart-header {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .pet-image {
    max-width: 150px; 
    max-height: 150px; 
    object-fit: cover; 
    margin-bottom: 10px; 
  }
  
 
  .cart-item span:nth-child(1) {
    color: #000; 
    font-weight: bold; 
  }
  

  .cart-item span:nth-child(3) {
    color: #000; 
  }
  

  .cart-item span:nth-child(4) {
    color: #000; 
  }
  
  .remove-button {
    background-color: #847496;
    color: #FFC107;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .buy-button {
    background-color: #847496; 
    color: #FFC107; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cart-empty-message {
    
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #999;
  }
  