

.cart {
  display: flex;
  align-items: center;
}

.cart img {
  width: 32px; 
  height: auto; 
  margin-right: 5px; 
  vertical-align: middle;
}

.cart-number {
  color: #FFC107;
  border-radius: 50%;
  margin-top: 4px; 
  margin: 0; 
  font-size: 18px; 
}

.cart:hover {
  cursor: pointer;
}
