 .add-button {
  color: #FFC107;
  background-color:  #847496;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
  
  .pet-details {
    margin: 50px auto;
    max-width: 600px;
    color: black;
  }
  
  .pet-details h2 {
    margin-bottom: 15px;
  }
  
  .pet-details p {
    font-size: 20px;
    margin: 5px 0;
  }
  .image-detail{
    width: 400px;
    height: 400px;
  }