/* Estilo amigable para las mascotas */
body {
  font-family: 'Krub', sans-serif;
  color: #FFC107;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:  #847496;
    color: #FFC107;
    height: 90px;
  }
  a {
    color: #FFC107;
    text-decoration: none;
  }
  .categories {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .categories li {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #847496;
    color: #FFC107;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
  }
  

  

